<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/stylesheets/styles.css" />
    <script src="js/slide_bar.js"></script>
	<title>  Cakes &#10084 </title>
    <link rel="shortcut icon" href="/images/icon2.ico" />
</head>
<body >
    <h1><a href = "/cakes">BACK</a></h1>
    <h1><%= name %></h1>
    <h2><img src = <%= img %>  width = 650px  class = leftimg /> Name of cake : <%= name %> <br> Color of cake : <%= color%><br> Weight of cake : <%= weight %><br> Rating of cake : <%= rating %><br><br><br><br><br><br><br><br><br><% if (id == 9) { %> <a href = "/cakes/0 " <% } else { %><a href = "/cakes/<%= id + 1%> " <%} %>  align = "center">Next </a></h2>
</body>
</html>
